body {
    width: 100%;
    height: auto;
    margin: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    overflow-x: hidden;
    

}

header {
    background-color: #008070;
    height: 130px;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}

header a {
    text-decoration: none;
    margin-top: 70px;
    color: #ffe02f;
}

#h1_delices {
    font-style: italic;
    font-family: 'Chilanka', cursive;
    font-size: 40px;
    background: -webkit-linear-gradient(#3d923a, #82ca62, #acef75);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}



 main {
    
    height: auto;
}

div p {
    font-size: 25px;
    font-family: 'Chilanka', cursive;
    font-style: italic;
}

 span {
     margin-left: 5%;
     text-align: center;
     margin-right: 8%;
}

 h3 span {
     font-size: 1.5em;
     font-family: 'Chilanka', cursive;
     font-style: italic;
}

 section div {
     
     margin-left: 15%;
     text-align: justify;
     font-size: 20px;
     font-family: cursive;
     display: flex;
     
 }
 .bold {
     margin-left: auto;
     margin-right: 20%;
     
 }

 footer {
    
    height: 100%;
    display: flex;
    width: auto;
    justify-content: space-between;
    background-color: #008070;
    overflow-x: hidden;
    
}

a {
    text-decoration: none;
}


 footer:hover  {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
  }

  
  
  @keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
  
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
  }

  /* Responsive */

  @media  screen and (max-width: 2560px)
 {
     div {
        padding-left: 300px;
        
    }

    .bold {
        padding-right: 350px;
        font-weight: bold;
    }

    p {
        text-align: justify;
        font-size: 30px;
    }

    main {
        
        height: 1800px;
    }


   

    footer {
        font-size: 30px;
        padding-right: 14%;
    }

    h3 {
        font-size: 30px;
    }

    h1 {
        font-size: 60px;
    }

    img {
        width: auto;
    }
    
    footer:hover  {
        animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
        transform: translate3d(0, 0, 0);
        backface-visibility: hidden;
        perspective: 1000px;
      }
    
      
      
      @keyframes shake {
        10%, 90% {
          transform: translate3d(-1px, 0, 0);
        }
      
        20%, 80% {
          transform: translate3d(2px, 0, 0);
        }
      
        30%, 50%, 70% {
          transform: translate3d(-4px, 0, 0);
        }
      
        40%, 60% {
          transform: translate3d(4px, 0, 0);
        }
      }
 }

@media  screen and (max-width: 2000px) {
    .bold {
        padding-right: initial;
    }

    div {
        padding-left: 2%;
    }

    footer {
        padding-right: 4%;
    }

    img {
        width: 300px;
    }
    footer:hover  {
        animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
        transform: translate3d(0, 0, 0);
        backface-visibility: hidden;
        perspective: 1000px;
      }
    
      
      
      @keyframes shake {
        10%, 90% {
          transform: translate3d(-1px, 0, 0);
        }
      
        20%, 80% {
          transform: translate3d(2px, 0, 0);
        }
      
        30%, 50%, 70% {
          transform: translate3d(-4px, 0, 0);
        }
      
        40%, 60% {
          transform: translate3d(4px, 0, 0);
        }
      }
}

@media screen and (max-width:1500px)  {

    .bold {
        margin-right: 180px;
    }

    main {
        padding-left: 0%;
    }
    footer:hover  {
        animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
        transform: translate3d(0, 0, 0);
        backface-visibility: hidden;
        perspective: 1000px;
      }

      footer {
        position: sticky;
        bottom: 0;
        left: 0;
        right: 0;
      }
    
      
      
      @keyframes shake {
        10%, 90% {
          transform: translate3d(-1px, 0, 0);
        }
      
        20%, 80% {
          transform: translate3d(2px, 0, 0);
        }
      
        30%, 50%, 70% {
          transform: translate3d(-4px, 0, 0);
        }
      
        40%, 60% {
          transform: translate3d(4px, 0, 0);
        }
      }
}

@media screen and (max-width:1240px) {
    .bold {
        margin-right: 90px;
    }
    
    p {
        margin-left: -10%;
    }
    footer:hover  {
        animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
        transform: translate3d(0, 0, 0);
        backface-visibility: hidden;
        perspective: 1000px;
      }
    
      
      
      @keyframes shake {
        10%, 90% {
          transform: translate3d(-1px, 0, 0);
        }
      
        20%, 80% {
          transform: translate3d(2px, 0, 0);
        }
      
        30%, 50%, 70% {
          transform: translate3d(-4px, 0, 0);
        }
      
        40%, 60% {
          transform: translate3d(4px, 0, 0);
        }
      }
}

@media screen and (max-width:1024px) {
  div p {
    font-size: 20px;
    }

    main {
        height: 1200px;
    }

    

    img {
        margin-left: -14px;
    }

   h3 span {
        font-size: 0.7em;
    }

   

    .bold {
        margin-right: 80px;
    }

    footer {
      height: 100px;
    }

    div.mail, div.mention_legales{
      margin-top: 4%;
    }
    footer:hover  {
        animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
        transform: translate3d(0, 0, 0);
        backface-visibility: hidden;
        perspective: 1000px;
      }
    
      
      
      @keyframes shake {
        10%, 90% {
          transform: translate3d(-1px, 0, 0);
        }
      
        20%, 80% {
          transform: translate3d(2px, 0, 0);
        }
      
        30%, 50%, 70% {
          transform: translate3d(-4px, 0, 0);
        }
      
        40%, 60% {
          transform: translate3d(4px, 0, 0);
        }
      }
}

@media screen and (max-width: 768px) {
    img {
        width: 200px;
        height:auto;
    }

    div p {
        font-size: 17px ;
    }

    footer {
        height: 100px;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
    }

    footer div {

        margin-top: 20px;
        font-size: smaller;
    }

    main {
        height: 1000px;
    }
    footer:hover  {
        animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
        transform: translate3d(0, 0, 0);
        backface-visibility: hidden;
        perspective: 1000px;
      }
    
      
      
      @keyframes shake {
        10%, 90% {
          transform: translate3d(-1px, 0, 0);
        }
      
        20%, 80% {
          transform: translate3d(2px, 0, 0);
        }
      
        30%, 50%, 70% {
          transform: translate3d(-4px, 0, 0);
        }
      
        40%, 60% {
          transform: translate3d(4px, 0, 0);
        }
      }
}

@media screen and (max-width: 426px) {
    p {
        font-size: 14px;
        margin-right: 10%;
    }

    main {
        width: unset;
        height: 1000px;
    }

    img {
        width: 100px;
    }

    .bold {
        margin-right: unset;
        font-size: small;
        font-weight: bold;
        
    }
    div p {
        font-size: 14px;
    }
    div {
        padding-left: 0;
        padding-right: 30px;
        font-size: unset;
    }

    footer {
        font-size: unset;
        padding-left: 30px;
        margin-top: 20%;
        height: 75px;
    }

    

   

    h3 span{
        font-size: 15px;
    }

    
    footer:hover  {
        animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
        transform: translate3d(0, 0, 0);
        backface-visibility: hidden;
        perspective: 1000px;
      }
    
      
      
      @keyframes shake {
        10%, 90% {
          transform: translate3d(-1px, 0, 0);
        }
      
        20%, 80% {
          transform: translate3d(2px, 0, 0);
        }
      
        30%, 50%, 70% {
          transform: translate3d(-4px, 0, 0);
        }
      
        40%, 60% {
          transform: translate3d(4px, 0, 0);
        }
      }
}

@media screen and (max-width: 320px) {
    h1 {
        font-size: 200%;
    }
    
    #h1_delices {
        font-size: 30px;
    }
    header {
        width: 342px;
    }
    img {
        width: 65px;
    }

    div p {
        font-size: 12px;
    }

    main {
        height: 900px;
        margin-left: 8%;

    }

    
    footer {
        padding-left: 7%;
        padding-right: 0%;
        width: 320px;
        height: 75px;
    }
    footer:hover  {
        animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
        transform: translate3d(0, 0, 0);
        backface-visibility: hidden;
        perspective: 1000px;
      }
    
      
      
      @keyframes shake {
        10%, 90% {
          transform: translate3d(-1px, 0, 0);
        }
      
        20%, 80% {
          transform: translate3d(2px, 0, 0);
        }
      
        30%, 50%, 70% {
          transform: translate3d(-4px, 0, 0);
        }
      
        40%, 60% {
          transform: translate3d(4px, 0, 0);
        }
      }
}