header {
  background-color: #008070;
  height: 120px;
  width: inherit;
  text-align: center;
  padding: 0;
  margin: 0;
}

header a {
  text-decoration: none;
}

h1 {
  color: #ffe02f;
  text-decoration: none;
}

body {
  width: 100%;
  height: auto;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  
}





.box {
    flex-direction: column;
   
}

.Content--content_menu  {
  align-items: center;
  display: flex;
  justify-content: center;
  text-align: center;
  width: 300px;
  height: 400px;
  opacity: 1;
  transition-property: opacity;
  transition-duration: 400ms;
}

.Content--content_menu a:hover {
  opacity: 0.5;
  transition: opacity 400ms;
 
}

h2:hover, p:hover {
  -webkit-transition: all 1s ease;
  -webkit-transform:scale(1.25);
}


a {
  text-decoration: none;
}




  


.menunoteenchantee {
    background-color: #ffccd2;
    height: 300px;
    width: 250px;
    margin: 10% 0;
    font-style: italic;
  font-family: 'Kalam', cursive;
  border: 1px black none;
  box-shadow: 1px 1px 5px 1px grey;

}

.menunoteenchantee h2  {
    padding-top: 10%;

}

i {
   padding-top: 20%;
  font-size: 2em;
  background:-moz-linear-gradient(top, #e72c83 0%, #a742c6 100%); 
        background: -webkit-linear-gradient(top, #e72c83 0%,#a742c6 100%); 
        background: linear-gradient(to bottom, #e72c83 0%,#a742c6 100%);
        -webkit-background-clip: text;
        -moz-background-clip: text;
        background-clip: text;
       -webkit-text-fill-color:transparent;
}

.lcf {
    background-color: #ffebee;
    height: 300px;
    width: 250px;
    margin: 10%;
    font-family: 'Abel', sans-serif;
  font-weight: bolder;
  border: 1px black none;
  box-shadow: 1px 1px 5px 1px grey;
  
}

.lcf h2 {
  
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: -webkit-linear-gradient(left,#EA7F0D , #8B4068 , #562ACA );
}

h2 {
  text-decoration:none;
  line-height: 50px;
}
h2:after {
  content: '';
  display: block;
  margin: auto;
  height: 0.8px;
  width: 0;
  background: transparent;
  transition: width .5s ease, background-color .5s ease;
}
h2:hover:after {
  width: 50%;
  background: #444;
}

.delice {
    background-color: #F5F5F5;
    height: 300px;
    width: 250px;
    margin: 10% 0;
    font-family: 'Chilanka', cursive;
    border: 1px black none;
  box-shadow: 1px 1px 5px 1px grey;
  -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   background-image: -webkit-linear-gradient(left,rgba(0, 0, 255, 0.404) , blue , rgb(0, 195, 255) );
  
}

.delice h2 {
     -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  background-image: -webkit-linear-gradient(left,rgba(0, 0, 255, 0.404) , blue , rgb(0, 195, 255) );
}

.palettes {
  background-color: #FFFDE7;
  height: 300px;
    width: 250px;
    margin: 10%;
    font-family: 'Chilanka', cursive;
    border: 1px black none;
  box-shadow: 1px 1px 5px 1px grey;
  
}

.palettes p {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: -webkit-linear-gradient(left,rgba(0, 128, 0, 0.521) , green , rgb(0, 128, 128) );
}

.palettes h2 {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: -webkit-linear-gradient(left,rgba(0, 128, 0, 0.521) , green , rgb(0, 128, 128) );
}

h2 {
    font-size: 20px;
    padding-top: 30%;
}


 /* Prochainement */

 .Content--content_button p {
     font-size: 30px;
     margin: 0;
 }
.Content--content_button {


 width: 250px;
 background-color: #00807a;
 text-align: center;
 margin-top: 20px;
 height: 100px;
 border-radius: 10px 10px;
 color: #ffe02f;
 font-size: 30px;
 font-weight: 500;
 margin: 5%;
}

.Content--content_button:after {
content: "\2026";	
display: inline-block;
font-size: 30px;
overflow: hidden;
-webkit-animation-name: suspensions;
-webkit-animation-duration: 4s;
-webkit-animation-timing-function: steps(4,end);
-webkit-animation-iteration-count: infinite;

}

@keyframes suspensions {
0%
{
    width: 0;
}


50%
{
    width: 20px;
}


100%
{
    width: 40px;

}
}
/* footer */
.ContactFooter {
  background-color: #008070;
  height: 130px;
  padding: 0;
  margin: 0;
  position: sticky;
  bottom: 0;
  width: inherit;
  
}

.ContactFooter--mention_legale {
  float: left;
  font-size: 25px;
  margin-left: 2%;
  
  
  

}
.ContactFooter--mail {
  float: right;
  font-size: 25px;
  margin-right: 2%;
  
  
  
  
}

.ContactFooter--contact {
  margin-top: 5%;
  
  
  
}

.ContactFooter--mention_legale:hover, .ContactFooter--mail:hover {
  
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}





/* responsive */

@media screen and (max-width: 2560px) {
  .ContactFooter--contact {
      margin-top: 3%;
  }
}
@media screen and (max-width: 2500px) {
  .ContactFooter--contact {
      margin-top: 3%;
  }
}

@media screen and (max-width: 2000px) {
    .ContactFooter--contact {
        margin-top: 3%;
    }
}

@media screen and (max-width: 1500px) {
    .ContactFooter--contact {
        margin-top: 5%;
    }
}
@media screen and (max-width: 600px) {
    .Content--content_menu {
        display: inline;
        
    }
   

    

    .lcf {
        margin:0;
    }
    .palettes {
        margin:0;
    }

    .ContactFooter--contact {
        margin-top: 10%;
    }
  }

  @media screen and (max-width: 350px) {
      .ContactFooter--contact {
          font-size: 20px;
          margin-top: 15%;
  }
}
  @media screen and (max-width: 290px ) {
      .lcf, .palettes, .menunoteenchantee, .delice {
          width: 200px;
      }
  }
