body {
  padding: 0;
  margin: 0;
  background-color: #ffebee;
  
  
}



h1 {
  margin: 0;
  text-align: center;
  padding-top: 2%;
}

.MenuTitre--principal {
  font-family:'Abel', sans-serif;
  font-size: 40px;
  background: -webkit-linear-gradient(#d7863f, #b7728b, #a96cb8,#9864ef);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  
}

.sectionMenu {
  padding: 0;
  margin: 0;
  text-align: center;
  
}



header {
  background-color: #008070;
  height: 120px;
}

header a {
  text-decoration: none;
  margin-top: 70px;
  color: #ffe02f;
}

img {
  width: 400px;
}

.sectionMenu--texte {
  display: block;
  margin-left: 20%;
  margin-right: 23%;
  font-family: 'Chilanka', cursive;
  text-align: left;
 
}

span {
  float: right;
  font-weight: bold;
}

.MenuTitre--titre_titre1 {
  color: #c7750c;

}

.MenuTitre--titre_titre2 {
  color: #a6679a;
}

.MenuTitre--titre_titre3 {
  color: #6e4bce;
}
/* Footer */

.ContactFooter {
  background-color: #008070;
  height: 130px;
  padding: 0;
  margin: 0;
  position: sticky;
  bottom: 0;
  
}

.ContactFooter--mention_legale {
  float: left;
  font-size: 25px;
  
  
  

}
.ContactFooter--mail {
  float: right;
  font-size: 25px;
  
  
  
}

.ContactFooter--contact {
  margin-top: 5%;
  
  
  
}

.ContactFooter--mention_legale:hover, .ContactFooter--mail:hover {
  
      animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
      transform: translate3d(0, 0, 0);
      backface-visibility: hidden;
      perspective: 1000px;
 }
 
 @keyframes shake {
      10%, 90% {
        transform: translate3d(-1px, 0, 0);
      }
 
      20%, 80% {
        transform: translate3d(2px, 0, 0);
      }
 
      30%, 50%, 70% {
        transform: translate3d(-4px, 0, 0);
      }
 
      40%, 60% {
        transform: translate3d(4px, 0, 0);
      }
 }


/* Responsive */
@media only screen and (min-width: 2300px) {
    .sectionMenu--texte {

    }

    span {

    }
}

@media only screen and (min-width: 2000px) {
  .sectionMenu--texte {
   margin-left: 25%;
  }

  span {
      margin-right: 10%;
  }
  .ContactFooter--mention_legale, .ContactFooter--mail {

   margin-top: 3%;

}
}

@media only screen and (min-width: 1600px) {
 
h2 {
   font-size: 42px;
}

img {
   width: 400px;
}
.sectionMenu--texte {
    font-size: 25px;
    
}

.ContactFooter--mention_legale, .ContactFooter--mail {

   margin-top: 3%;

}

}

@media only screen and (max-width: 1599px) {
.ContactFooter--mention_legale, .ContactFooter--mail {
   margin-top: 3%;
}

h2 {
  font-size: 40px;
}
}

@media only screen and (max-width: 1400px) {
 span {
     margin-right: -10%;
 }

.sectionMenu--texte{
   text-align: left;
}

h2 {
   font-size: 34px;
}


}

@media only screen and (max-width: 1200px) {
img {
   width: 270px;

}

span {
   margin-right: -10%;
}

h2 {
  font-size: 30px;
}
}

@media only screen and (max-width: 1000px) {
img { 
   width: 220px;
}

span {
   margin-right: -10%;
}

h2 {
  font-size: 20px;
}
.ContactFooter {
  margin-top: 20%;
}
}

@media only screen and (max-width: 780px) {
img { 
   width: 180px;
}

.ContactFooter--contact {

   margin-top: 7%;

}

span {
   margin-right: -10%;
}
}


@media only screen and (max-width: 650px) {
img { 
   width: 150px;
}

.ContactFooter--contact {
   font-size: 25px;
}

span {
   margin-right: -20%;
}
}
@media only screen and (max-width: 520px) {
  .MenuTitre--titre_titre1 {
    font-size: 17px;
  }
}

@media only screen and (max-width: 500px) {
img { 
   width: 100px;
}
}


@media only screen and (max-width: 425px) {
img { 
   width: 80px;
}
.ContactFooter {


margin-top: 20% ;

}
.ContactFooter--contact {
   margin-top: 15%;
}

h2 {
   font-size: 15px;
}
}

@media only screen and (max-width: 350px) {
img { 
   width: 60px;
}

.ContactFooter--contact {
   font-size: 15px;
}

.MenuTitre--palette {
   font-size: 30px;
}

span {
   margin-right: -30%;
}
}

@media only screen and (max-width: 320px) {
img { 
   width: 40px;
}
.ContactFooter--contact {
   margin-top: 20%;
}
h2 {
   font-size: 15px;
}

span {
   margin-right: -30%;
}
}

 
 


