body {
    width: 100%;
    height: auto;
    margin: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    

}

header {
    background-color: #008070;
    height: 130px;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}

header a {
    text-decoration: none;
    margin-top: 70px;
    color: #ffe02f;
}

#h1_lcf {
    font-family:'Abel', sans-serif;
    font-size: 40px;
    background: -webkit-linear-gradient(#d7863f, #b7728b, #a96cb8,#9864ef);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#apettit {
    color: #c7750c;
}

#papille {
    color: #a6679a;
}

#sucree {
    color: #6e4bce;
}
 
#image1 {
    width: 200px;
}

 main {
    background-color: #ffebee;
    height: auto;
}

 span {
     margin-left: 5%;
     text-align: center;
     margin-right: 8%;
}

div p {
    font-family: 'Abel', sans-serif;
}

 h3 span {
     font-size: 1.5em;
     font-family: 'Abel', sans-serif;
}

 section div {
     
     margin-left: 15%;
     text-align: justify;
     font-size: 20px;
     font-family: cursive;
     display: flex;
     
 }
 .bold {
     margin-left: auto;
     margin-right: 20%;
 }

 footer {
    background-color: #ffebee;
    height: 100%;
    display: flex;
    width: auto;
    justify-content: space-between;
}

a {
    text-decoration: none;
}


 footer:hover  {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
  }

  
  
  @keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
  
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
  }

  /* Responsive */

  @media  screen and (max-width: 2560px)
 {
     div {
        padding-left: 50px;
        
    }
    header {
        height: 200px;
    }
    .bold {
        padding-right: 40px;
        font-weight: bold;
    }

   div p {
        text-align: justify;
        font-size: 45px;
    }

    main {
        padding-left: 60px;
        height: 2100px;
    }

    #h1_lcf {
        font-size: 80px;
    }

    footer {
        font-size: 40px;
        padding-right: 14%;
    }

    h3 {
        font-size: 30px;
    }

    h1 {
        font-size: 80px;
        
    }

    img {
        width: 500px;
    }
    
    footer:hover  {
        animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
        transform: translate3d(0, 0, 0);
        backface-visibility: hidden;
        perspective: 1000px;
      }
    
      
      
      @keyframes shake {
        10%, 90% {
          transform: translate3d(-1px, 0, 0);
        }
      
        20%, 80% {
          transform: translate3d(2px, 0, 0);
        }
      
        30%, 50%, 70% {
          transform: translate3d(-4px, 0, 0);
        }
      
        40%, 60% {
          transform: translate3d(4px, 0, 0);
        }
      }
 }

@media  screen and (max-width: 2000px) {
    .bold {
        padding-right: initial;
    }

    div {
        padding-left: 2%;
    }

    footer {
        padding-right: 4%;
    }

    img {
        width: 300px;
    }
    footer:hover  {
        animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
        transform: translate3d(0, 0, 0);
        backface-visibility: hidden;
        perspective: 1000px;
      }
    
      
      
      @keyframes shake {
        10%, 90% {
          transform: translate3d(-1px, 0, 0);
        }
      
        20%, 80% {
          transform: translate3d(2px, 0, 0);
        }
      
        30%, 50%, 70% {
          transform: translate3d(-4px, 0, 0);
        }
      
        40%, 60% {
          transform: translate3d(4px, 0, 0);
        }
      }
}

@media screen and (max-width:1500px)  {

    .bold {
        margin-right: 180px;
    }
    #appetit {
        margin-left: 10%;
    }
    div p {
       font-size: 35px;
    }
    img {
        width: 400px;
    }
    main {
        padding-left: 0%;
    }
    footer:hover  {
        animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
        transform: translate3d(0, 0, 0);
        backface-visibility: hidden;
        perspective: 1000px;
      }
    
      
      
      @keyframes shake {
        10%, 90% {
          transform: translate3d(-1px, 0, 0);
        }
      
        20%, 80% {
          transform: translate3d(2px, 0, 0);
        }
      
        30%, 50%, 70% {
          transform: translate3d(-4px, 0, 0);
        }
      
        40%, 60% {
          transform: translate3d(4px, 0, 0);
        }
      }
}

@media screen and (max-width:1240px) {
    .bold {
        margin-right: 90px;
    }
    
    p {
        margin-left: -10%;
    }
    footer:hover  {
        animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
        transform: translate3d(0, 0, 0);
        backface-visibility: hidden;
        perspective: 1000px;
      }
    
      
      
      @keyframes shake {
        10%, 90% {
          transform: translate3d(-1px, 0, 0);
        }
      
        20%, 80% {
          transform: translate3d(2px, 0, 0);
        }
      
        30%, 50%, 70% {
          transform: translate3d(-4px, 0, 0);
        }
      
        40%, 60% {
          transform: translate3d(4px, 0, 0);
        }
      }
}

@media screen and (max-width:1024px) {
  div p {
    font-size: 30px;
    }

    main {
        height: 1600px;
    }

    

    img {
        margin-left: -14px;
    }

   h3 span {
        font-size: 0.9em;
    }

    img {
        width: 300px;
    }

    .bold {
        margin-right: 80px;
    }
    footer:hover  {
        animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
        transform: translate3d(0, 0, 0);
        backface-visibility: hidden;
        perspective: 1000px;
      }
    
      
      
      @keyframes shake {
        10%, 90% {
          transform: translate3d(-1px, 0, 0);
        }
      
        20%, 80% {
          transform: translate3d(2px, 0, 0);
        }
      
        30%, 50%, 70% {
          transform: translate3d(-4px, 0, 0);
        }
      
        40%, 60% {
          transform: translate3d(4px, 0, 0);
        }
      }
}

@media screen and (max-width: 768px) {
    img {
        width: 200px;
        height:auto;
    }

    div p {
        font-size: 20px ;
    }

    

    footer {
        height: 100px;
    }

    footer div {

        margin-top: 20px;
        font-size: 25px;
    }

    main {
        height: 1200px;
    }
    footer:hover  {
        animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
        transform: translate3d(0, 0, 0);
        backface-visibility: hidden;
        perspective: 1000px;
      }
    
      
      
      @keyframes shake {
        10%, 90% {
          transform: translate3d(-1px, 0, 0);
        }
      
        20%, 80% {
          transform: translate3d(2px, 0, 0);
        }
      
        30%, 50%, 70% {
          transform: translate3d(-4px, 0, 0);
        }
      
        40%, 60% {
          transform: translate3d(4px, 0, 0);
        }
      }
}

@media screen and (max-width: 426px) {
   div p {
        font-size: 14px;
        margin-right: 10%;
    }

    main {
        width: unset;
        height: 900px
    }

    img {
        width: 100px;
    }
    h1 {
        font-size: 50px;
    }

    #h1_lcf {
        font-size: 30px;
    }
    .bold {
        margin-right: unset;
        font-size: small;
        font-weight: bold;
        
    }
    header {
        height: 150px;
    }

    div {
        padding-left: 0;
        padding-right: 30px;
        
    }
    a {
        font-size: 15px;
    }
    footer {
        font-size:10px;
        padding-left: 30px;
        height: 50px;
    }

    

    h3 span{
        font-size: 15px;
    }

    #apettit {
        font-size: small;
    }
    footer:hover  {
        animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
        transform: translate3d(0, 0, 0);
        backface-visibility: hidden;
        perspective: 1000px;
      }
    
      
      
      @keyframes shake {
        10%, 90% {
          transform: translate3d(-1px, 0, 0);
        }
      
        20%, 80% {
          transform: translate3d(2px, 0, 0);
        }
      
        30%, 50%, 70% {
          transform: translate3d(-4px, 0, 0);
        }
      
        40%, 60% {
          transform: translate3d(4px, 0, 0);
        }
      }
}

@media screen and (max-width: 320px) {
    h1 {
        font-size: 200%;
    }
    
    #h1_lcf {
        font-size: 30px;
    }
    main {
        height: 860px
    }
    img {
        width: 65px;
    }

    #apettit {
        font-size: 15px;
    }

    footer {
        padding-left: 7%;
        padding-right: 0%;
        height: 50px;
    }
    footer:hover  {
        animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
        transform: translate3d(0, 0, 0);
        backface-visibility: hidden;
        perspective: 1000px;
      }
    
      
      
      @keyframes shake {
        10%, 90% {
          transform: translate3d(-1px, 0, 0);
        }
      
        20%, 80% {
          transform: translate3d(2px, 0, 0);
        }
      
        30%, 50%, 70% {
          transform: translate3d(-4px, 0, 0);
        }
      
        40%, 60% {
          transform: translate3d(4px, 0, 0);
        }
      }
}